[Unit]
Description=A matrix bot that does amazing things!

[Service]
Type=simple
User=middleman.py
Group=middleman.py
WorkingDirectory=/path/to/middleman.py/docker
ExecStart=/usr/bin/docker-compose up middleman.py
ExecStop=/usr/bin/docker-compose stop middleman.py
RemainAfterExit=yes
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
